html,
body {
  padding: 0;
  margin: 0;
}
body {
  color: #111;
}
input {
  color: inherit;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}
.form .form_input {
  flex: 1 1 300px;
  margin: 10px;
  border: none;
  padding: 20px;
  border-radius: 10px;
  background-color: #e6e6e6;
  outline: 3px solid transparent;
  transition: outline 0.2s, flex-basis 0.2s;
  outline: none;
  font-size: 2rem;
}
.form .form_input:nth-child {
  flex: 3 1 300px;
}

.form .form_submit {
  position: relative;
  top: -5px;
  flex: 1 1 100px;
  margin: 10px;
  cursor: pointer;
  border: none;
  padding: 20px;
  border-radius: 10px;
  background-color: #708dfd;
  color: #ffffff;
  box-shadow: 0 12px 7px -5px rgba(0, 0, 0, 0.35);
  transition: box-shadow 0.2s, top 0.2s, background-color 0.2s, flex-basis 0.2s;
}
.form .form_submit:hover,
.form .form_submit:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.35);
  top: 0;
}
.form .form_submit:focus {
  background-color: #4a65ce;
  outline: 0;
}
